/* Add CSS here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: 1.5rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #040c1e;
    --clr-bg-pri: #082e2f;
    --clr-bg-sec: #f9f979;
    --clr-acc-main: #125850;
    --clr-acc-pri: #4393f5;
    --clr-acc-sec:  #3676c4;
    --clr-acc-thi: #2e67a9;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #125850;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: "Bebas Neue", sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: linear-gradient(45deg, var(--clr-bg-main), var(--clr-bg-pri));
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {font-size: var(--h1-fs);}
h2 {font-size: var(--h2-fs);}
h3 {font-size: var(--h3-fs);}
h4 {font-size: var(--h4-fs);}

p, a, li {font-size: var(--p-fs);}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  var(--clr-acc-pri);
    color: #fff;
    padding: .5rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}

.btn:last-of-type {
    background-color: transparent;
    color: var(--clr-acc-pri);
}
  
.btn:first-of-type:hover {
    background-color: var(--clr-acc-sec);
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:last-of-type:hover {
    color: var(--clr-acc-thi);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

nav ul {
    display: flex;
    align-items: center;
    padding: 1rem;
}

nav {
    position: relative;
    padding-top: 2rem;
}

nav:before {
    content: '';
    display: block;
    position: absolute;
    top: 1.5rem;
    width: 100%;
    height: .5rem;
    background: linear-gradient(to right, var(--clr-bg-pri), var(--clr-acc-main));
}

nav ul li {
    text-shadow: -16px 11px 15px rgba(22, 22, 22, 1);
    position: relative;
    cursor: pointer;
    padding-bottom: 1rem;
    padding: 0 1rem 1rem;
    transition: .3s;
}

nav ul li:before {
    content: '';
    display: block;
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 100%;
    height: .5rem;
    background-color: var(--clr-bg-sec);
    transform: scaleX(0);
    transition: .3s;
}

nav ul li:hover {
    color: #fff;
}

nav ul li:hover:before {
    transform: scaleX(1);
}

.dropdown {
    position: relative;
    padding-bottom: 0;
}


.dropdown {
    cursor: pointer;
}

.dropdown .link {
   
    position: relative;
    padding-bottom: 1rem;
}

.link i {
    padding-left: .5rem;
    position: absolute;
    left: 50%;
    bottom: .2rem;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s;
}

.dropdown:hover i {
    transform: translate(-50%, 0) scale(1);

}

.dropdown-menu {
    position: absolute;
    left: 50%;
    top: 100%;
    background: linear-gradient(45deg, var(--clr-bg-main), var(--clr-bg-pri));
    padding: .6rem;
    border: 1px solid var(--clr-acc-main);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px) translateX(-50%);
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    z-index: 2;
    text-shadow: none;
}

.item {
    padding: .5rem;
    display: flex;
    gap: 2rem;
    position: relative;
    cursor: pointer;
}

.item:not(:last-child) {
    border-bottom: 1px solid var(--clr-acc-main);
}

.item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2rem;
    width: 1px;
    height: 100%;
    background-color: var(--clr-acc-main);
}

.item i {
    font-size: 1rem;
    width: 1rem;
    color: #fff;
}

.item p {
    font-size: .9rem;
    color: var(--clr-bg-sec);
    text-align: center;
    transition: .2s;
}

.item:hover p {
    text-shadow: 0 5px 8px #f9f979;

}

.link:hover+.dropdown-menu, .dropdown-menu:hover {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
    pointer-events: auto;
}

.dropdown:hover .link a {
    color: #fff;
}

.link a {
    transition: .2s;
}

.dropdown .link:hover {
    color: #fff;
}

.link:hover a {
    color: #fff;
}